<script type="text/javascript">
    RED.nodes.registerType('sense-curl',
    {
        category: 'sense iot http',
        color: '#b27fb2',
        defaults: 
        {
            name: {value:"cURL"}
        },
        inputs:1,
        outputs:1,
        icon: "sense.png",
        label: function() 
        {
            return this.name||"cURL";
        }
    });
</script>

<script type="text/html" data-template-name="sense-curl">
    <div class="form-row">
        <label for="node-input-name"><i class="icon-tag"></i> Name</label>
        <input type="text" id="node-input-name" placeholder="Name">
    </div>
</script>

<script type="text/html" data-help-name="sense-curl">
    <p>A simple cURL node. Input any cURL to automagically parse and execute the request.</p>
</script>